Trash
*.BAK
*.d
*.log
*.o
*.x
*~
.#.*
.**
:*
stage.*
compile.inc
copper
copper-new
copper.c
footing.one
header.inc
header.one
header.two
stage.one
stage.one.c
stage.two
stage.two.c
copper.bootstrap.c.Last
HOLDING
vm_copper.old.c
vm_copper.new.c
copper.old.vm
copper.new.vm
test.cu
copper.ovm
copper.vm
copper_o.c
libCopper.a


